# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
ts-debug.log*

# Local Env Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database (SQLite)
# We usually ignore the DB so it doesn't get overwritten by dev,
# but for a personal starter app, you might want to back it up?
# Standard practice is to ignore it.
*.db
*.db-journal

# Vercl
.vercel
