@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #09090b; 
}
::-webkit-scrollbar-thumb {
    background: #27272a; 
    border-radius: 4px;
}
